.backgroundImagePageOne {
  background-image: url("./images/AdobeStock_286233742.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: center; /* Optional: Zentriere das Bild horizontal und vertikal */
}

@media only screen and (min-width: 412px) and (min-height: 732px) {
  .logo {
    width: 30vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 5vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 10vh;
  }

  .buttonToNextPage {
    margin-top: 11vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    border-color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 4vh;
    padding: 2vh 4vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 4.5vh;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 35vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 7.5vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 12vh;
  }

  .buttonToNextPage {
    margin-top: 13vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    border-color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 25%;
    padding: 1vh 2vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 28%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .logo {
    width: 30vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 7vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 12vh;
  }

  .buttonToNextPage {
    margin-top: 13vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 30%;
    padding: 1vh 2vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 33%;
  }
}

/* Media Query für kleinere Bildschirme (z.B. Handys) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 30vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 6vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 12vh;
  }

  .buttonToNextPage {
    margin-top: 13vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 40%;
    padding: 1vh 2vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 43%;
  }
}

/* Media Query für kleinere Bildschirme (z.B. Handys) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .logo {
    width: 27vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
    padding: 6px;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 4.7vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 12vh;
  }

  .buttonToNextPage {
    margin-top: 10vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 50%;
    padding: 1vh 2vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 53%;
  }
}

/* Media Query für kleinere Bildschirme (z.B. Handys) */
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .logo {
    width: 20vh;
    margin-top: 7vh;
    margin-left: 5vw;
  }

  .hauptueberschrift {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
  }

  .hauptueberschrift h1 {
    text-align: center;
    color: #80358c;
    font-size: 4vh;
    text-shadow: 0.5vw 0.5vw 0.7vw rgba(55, 32, 100, 0.6);
    margin-top: 17vh;
    padding: 6px;
  }

  .buttonToNextPage {
    margin-top: 10vh;
    background-color: rgba(51, 51, 51, 0.4);
    color: #80358c;
    border-width: 0;
    border-radius: 15px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 50%;
    padding: 1vh 2vw;
    text-align: center;
    font-weight: bold;
  }

  .buttonToNextPage:hover {
    font-size: 53%;
  }
}

@keyframes slideFromUp {
  from {
    transform: translateY(10vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.AnimationLogoPageOne,
.AnimationTextButton {
  animation-name: slideFromUp;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; /* Behält die letzte Frame-Position bei Animation bei */
}
